    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
    @import"fontstyle.css";
    * {
        font-family: 'Noto Sans TC', sans-serif;
    }
    
    .deerCard3 .card {
        height: 450px;
        border: none;
    }
    
    .deerCard3 .card img {
        height: 210px;
        width: 100%;
    }
    
    .deerCard3 .card .badge {
        padding-top: 6px;
        background-color: var(--tagColor);
    }

    .deerCard3 a{
        text-decoration:none;
        font-size: var(--article_size);
        color: var(--sdColor);
    }
    
    .deerCard3 p{
        font-size: var(--text_size);
        color: var(--text_color);
    }

    .deerCard3 .card button {
        border: 1px solid var(--sdColor);
        border-radius: 0px !important;
        color: var(--sdColor);
        font-size: 20px;
        font-weight: 400;
    }

    .deerCard3 .card button:hover {
        background-color:var(--sdColor);
        border-radius: 0px !important;
        color: white;
        font-size: 20px;
        font-weight: 400;
    }

   