@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
@import"fontstyle.css";
@import"cardanimation.css";
* {
    font-family: 'Noto Sans TC', sans-serif;
}

#v-pills-deerDairy button {
    color: white;
    font-size: var(--btnSize);
    background-color: var(--sColor);
    border-radius: 0px;
}

#v-pills-deerDairy button:hover {
    color: white;
    background-color: var(--sdColor);
}

#v-pills-deerDairy label {
    color: var(--tColor);
}

#v-pills-deerDairy input {
    color: var(--tColor);
    border: none;
    outline: none;
}

#v-pills-deerDairy select {
    color: var(--tColor);
    border: none;
    outline: none;
}