    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
    @import"fontstyle.css";
    * {
        font-family: 'Noto Sans TC', sans-serif;
    }
    
    body {
        /* The image used */
        background-image: url("/image/member/tents-lawn_5219-8020.jpg");
        /* Set a specific height */
        min-height: 100vh;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .card {
        border-radius: 25px;
        margin-top: 80px;
    }
    
    .card h3 {
        color: var(--tColor);
    }
    
    .cardInput {
        background-color: var(--inputColor);
        border: none;
        color: var(--tColor);
        font-size: 1rem;
        height: 42px;
        outline: none;
    }
    
    .loginBtn {
        color: white;
        border: 1px solid var(--plColor);
        background-color: var(--plColor);
        border-radius: 0px !important;
        font-size: 20px;
    }
    
    .loginBtn:hover {
        color: white;
        font-size: var(--btnSize);
        border: 1px solid var(--pColor);
        background-color: var(--pColor);
    }
    
    .forgotBtn {
        color: var(--tColor);
        font-size: var(--text_size);
        margin-left: 40px;
    }
    
    .forgotBtn a {
        color: var(--plColor);
        font-size: var(--text_size) !important;
        margin-right: 40px;
    }
    
    .forgotBtn a:hover {
        color: var(--pColor);
    }
    
    .deerSignup {
        color: var(--tColor);
        font-size: var(--text_size);
    }
    
    .deerSignup a {
        color: var(--plColor);
        font-size: var(--text_size) !important;
    }
    
    .deerSignup a:hover {
        color: var(--pColor);
    }
    
    .signupBtn {
        color: var(--plColor);
        font-size: var(--btnSize);
        border: 1px solid var(--plColor);
        border-radius: 0px !important;
        height: 48px;
    }
    
    .signupBtn:hover {
        color: white !important;
        font-size: var(--btnSize);
        border: 1px solid var(--pColor);
        background-color: var(--pColor);
        height: 48px;
    }